<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Add Data Source</h3>
    <div class="box">
        <div class="notification is-info">
        Leave IP's field and Port's field empty if the device doesn't act as an actor.
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="data_id" placeholder="Data ID" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="description" placeholder="Short Description" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="ip" placeholder="IP Address" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="port" placeholder="Port Number" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
