<!-- templates/authorize.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
<h3 class="title">Authorization</h3>
<div class="box">
  <form action="/oauth2/authorize" method="post">
    <div class="field">
      <p>Client: {{ client._default_scopes }}</p>
      <p>User: {{ user.name }}</p>
      <p>Allow access?</p>
    </div>
    <input type="hidden" name="client_id" value="{{ client.client_id }}">
    <input type="hidden" name="scope" value="{{ scopes|join(' ') }}">
    <input type="hidden" name="response_type" value="{{ response_type }}">
    {% if state %}
    <input type="hidden" name="state" value="{{ state }}">
    {% endif %}
    <div class="field is-grouped">
      <button class="button is-info is-large is-fullwidth" name="confirm" value="yes">Yes</button>
      <button class="button is-danger is-large is-fullwidth" name="confirm" value="no">No</button>
    </div>
</form>
</div>
</div>
{% endblock %}
