<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
<h3 class="title">Login</h3>
<div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% if next %}
        <div class="notification is-danger">
            {{ messages[0] }} Go to <a href="{{ url_for('signup', next=next ) }}">signup page</a>.
        </div>
      {% else %}
        <div class="notification is-danger">
          {{ messages[0] }}
        </div>
      {% endif %}
    {% endif %}
    {% endwith %}
    <form method="POST">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="Your Password">
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox">
                Remember me
            </label>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Login</button>
    </form>
</div>
</div>
{% endblock %}
