<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">Welcome, {{ name }}!</h1>
<a class="button is-info" href="/add_datasource">Add New Data Source</a>
<a class="button is-info" href="/upload">Upload New Pattern File(s)</a>
<hr>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="notification {{ category }}">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}
{% if data %}
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Data ID</th>
        <th>Short Description</th>
        <th>IP Address</th>
        <th>Port Number</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
        <tr>
          <td>{{ i.data_id }}</td>
          <td>{{ i.description }}</td>
          <td>{{ i.ip }}</td>
          <td>{{ i.port }}</td>
          <td><a href="edit_datasource/{{i.data_id}}" class="button is-pulled-right">Edit</a></td>
          <td>
            <form action="{{ url_for('delete_datasource', data_id=i.data_id) }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="button is-danger">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="notification is-white">
      No Data Source Found
  </div>
{% endif %}
{% endblock %}
