<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Sign Up</h3>
  <div class="box">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% if next %}
            <div class="notification is-danger">
                {{ messages[0] }} Go to <a href="{{ url_for('login', next=next ) }}">login page</a>.
            </div>
          {% else %}
          <div class="notification is-danger">
              {{ messages[0] }}
          </div>
          {% endif %}
      {% endif %}
      {% endwith %}
      <form method="POST">
          <div class="field">
              <div class="control">
                  <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
              </div>
          </div>

          <div class="field">
              <div class="control">
                  <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
              </div>
          </div>

          <div class="field">
              <div class="control">
                  <input class="input is-large" type="password" name="password" placeholder="Password">
              </div>
          </div>

          <div class="field">
              <div class="control">
                  <input class="input is-large" type="password" name="confirm_password" placeholder="Confirm Password">
              </div>
          </div>

          <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
      </form>
  </div>
</div>
{% endblock %}
