<!-- templates/upload.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Upload Pattern File(s)</h3>
    <div class="box">
      <div class="notification is-info">
      The type of files supported are .json and .py. After 'Submit' button is clicked, wait for a few seconds, the system will verify the configuration of the new pattern.
      </div>
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="notification {{ category }}">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
      <form method="post" enctype="multipart/form-data">
        <div id="file-upload" class="file has-name is-fullwidth">
          <label class="file-label">
            <input class="file-input" type="file" name="files[]" multiple="true" autocomplete="off" required>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
            <span class="file-name">
              No file uploaded
            </span>
          </label>
        </div>

        <script>
          const fileInput = document.querySelector('#file-upload input[type=file]');
          fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
              const fileName = document.querySelector('#file-upload .file-name');
              fileName.textContent = fileInput.files[0].name;
            }
          }
        </script>

        <button class="button is-block is-info is-large is-fullwidth">Submit</button>


        <!--
      		<p>
      			<input class="is-large" type="file" name="files[]" multiple="true" autocomplete="off" required>
      		</p>
        -->
          	<!--<input type="submit" value="Submit">-->


      </form>
    </div>
</div>
{% endblock %}
